.NavLi {
 white-space: nowrap;
}
.NavLi.Active {
 border-bottom: 3px solid lightgreen;
}
 header {
  position: relative;
  z-index: 1001;
  /* background-color: #131415; */
  color: #ffffff;
  padding: 10px 0 15px;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
  padding: 10px;
}

nav a:hover {
  color: #0f0;
}
.NetworkCo {
 min-width: fit-content;
 background-color: rgb(25, 25, 25);
 border-radius: 16px;
 overflow: hidden;
 position:absolute;
 top:100%;left:-33px;width:100%;
 display: flex;
 flex-direction: column;
}

.NetworkCo .NavLi {
 align-items: center;
 justify-content: center;
 display: flex;
}
.NetworkCo .NavLi:not(:last-child){
 border-bottom: 1px solid #000000e3;
}
.NetworkCo .NavLi+.NavLi {
 border-top: 1px solid #8080805e;
}
.NetworkCo .NavLi:hover+.NavLi {
 border-top: 1px solid #5050505e;
}
.NetworkCo .Icon {
 font-size:2rem;
 margin-right:.55rem;
}
h1 {
 font-family: 'Baloo 2'
}

details[i-d=GuruNetworkDe][open] [i-d=DeOpen] {
 display: inline-block!important;
}
details[i-d=GuruNetworkDe]:not([open]) [i-d=DeOpen] {
 display: none!important;
}
details[i-d=GuruNetworkDe][open] [i-d=DeClosed] {
 display: none!important;
}
.NavLi small {
 opacity: .37;
}
.NavLi:hover {
 cursor: pointer;
 background:#111111;
}

.NavLi {
 display: flex;
 flex-direction: column;
}