html, body {
 margin: 0;
 padding: 0;
 background: black;
 color: #c7c7c7;
 font-family: monospace, monospace;
 height: 100%;
 display: flex;
 flex-direction: column;
}

body {
 /* font-family: Arial, sans-serif; */
 margin: 20px;
 /* background-color: #f0f0f0; */
 color: #acbca4;
}
h1 {
 color: #418c2e;
}

#matrixCanvas {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
}

header {
 background: rgba(34, 34, 34, 0.85);
 backdrop-filter: blur(3px);
 padding: 2rem;
 text-align: center;
 box-sizing: border-box;
 border-radius: 4.5rem;
}

h1 {
 color: #8fbc8f;
 margin-bottom: 0.2rem;
}

h2 {
 color: #eee;
}

button {
 background: #8fbc8f;
 border: none;
 padding: 1rem 2rem;
 font-weight: bold;
 cursor: pointer;
 margin-top: 1rem;
}

main {
 max-width: 800px;
 margin: 2rem auto;
 padding: 0 1rem;
 background: rgba(18, 18, 18, 0.85);
 border-radius: 4px;
 box-sizing: border-box;
 position: relative;
 border-radius: 3rem;
}
main::before{
content:'';
z-index: -1;
position: absolute;
top:-2rem;
left:-1.5rem;
border-radius: 3rem;
background-color: rgba(0, 0, 0, 0.466);
bottom: 0;
right: -1.5rem;
mix-blend-mode: color;
}

section.features {
 display: flex;
 flex-wrap: wrap;
 gap: 2rem;
 justify-content: center;
}

section.features div {
 background: #222;
 padding: 1rem;
 flex: 1 1 200px;
 border-radius: 6px;
 box-shadow: 0 0 5px #0f0;
 box-sizing: border-box;
}

footer {
 text-align: center;
 padding: 1rem;
 font-size: 0.8rem;
 color: #555;
 background: rgba(17, 17, 17, 0.85);
 margin-top: 2rem;
 box-sizing: border-box;
}

a {
 color: #8fbc8f;
 text-decoration: none;
}

@media (max-width: 768px) {
 main {
   padding: 0.5rem;
 }

 section.features div {
   flex: 1 1 100%;
 }

 header {
   padding: 1.5rem;
 }

 button {
   padding: 0.8rem 1.5rem;
 }
}

@media (max-width: 480px) {
 h1 {
   font-size: 1.5rem;
 }

 h2 {
   font-size: 1rem;
 }

 button {
   padding: 0.6rem 1rem;
 }

 footer {
   font-size: 0.7rem;
 }
}

/*  */
ul {
 list-style-type: square;
}
.container {
 /* background-color: #fff; */
 padding: 20px;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.feature {
 margin-bottom: 10px;
}
.feature h2 {
 font-size: 1.5em;
 color: #4c9631;
}
.feature:hover h2,.feature:hover p {
 filter:brightness(1.3);
}